<!-- MAIN/templates/front/partials/header/topbar.html -->
{% load static %}

<div class="topbar">
	<div class="content-topbar h-100 p-rl-30">
		<div class="align-self-stretch size-w-0 pos-relative m-r-30">
			<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
				<span class="text-uppercase cl0 p-r-8">
					Trending Now:
				</span>

				<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Interest rate angst trips up US equity bull market
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Designer fashion show kicks off Variety Week
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Microsoft quisque at ipsum vel orci eleifend ultrices
					</span>
				</span>
			</div>
		</div>
			

		<div class="flex-wr-e-c">
			<div class="left-topbar">
				

				<a href="/about" class="left-topbar-item">
					About
				</a>

				<a href="#" class="left-topbar-item">
					Contact
				</a>

				<a href="#" class="left-topbar-item">
					Sing up
				</a>

				<a href="#" class="left-topbar-item">
					Log in
				</a>

				<a href="#" class="left-topbar-item"></a>
			</div>

			<div class="right-topbar p-l-18">
				<a href="#">
					<span class="fab fa-facebook-f"></span>
				</a>

				<a href="#">
					<span class="fab fa-twitter"></span>
				</a>

				<a href="#">
					<span class="fab fa-pinterest-p"></span>
				</a>

				<a href="#">
					<span class="fab fa-vimeo-v"></span>
				</a>

				<a href="#">
					<span class="fab fa-youtube"></span>
				</a>
			</div>
		</div>	
	</div>
</div>