<!-- MAIN/templates/main/master.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>	

	<!-- Page title -->
	<title>
		{% block pagetitle %}{% endblock pagetitle %} | {{ site.name }}
	</title>
	
	<!-- Include head -->
	{% include 'main/front/partials/head/head.html' %}

</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">

			<!-- Top bar -->
			{% include 'main/front/partials/header/topbar.html' %}

			<!-- Logo -->
			{% include 'main/front/partials/header/logo.html' %}

			<!-- Main menu -->
			{% include 'main/front/partials/header/main-menu.html' %}
		</div>
	</header>
	
	<!-- Main content -->
	{% block content %}
	{% endblock content %}

	<!-- Footer -->
	{% include 'main/front/partials/footer/footer.html' %}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					
				</div>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js' %}"></script>
</body>
</html>
